<!DOCTYPE html>
<html>
    <title>PARTY EDITING PAGE</title>
    <head>
        <link rel="stylesheet" type="text/css" href="./index.css">
    </head>
    <body>
        <div class="parent-wrapper">
                <div class="ballotColor">
                        <div class="custom-logo">
                        <img src="./ballot.jpg" class="ballotLogo"/>
                    </div>
                        <div class="ballotWords">
                            <h4> <a href="./profile.html"> <button class="profileButton"> Profile </button> </a> </h4>
                            <div class="searchPartyButton">
                                <div class="searchPartyButton">
                                <input placeholder = "Search Party"/>
                            </div>
                            </div>
                            <div>
                                <!-- <button class="addBiodataButton">Add-Biodata</button> -->
                            </div>
                        </div>
                    </div>
                   <a href="./candidatesBiodata.html"> <button class="edit-deleteButton">ADD-BIODATA</button> </a>
                    <div>
                        <p>
                            <a href="./create.html"><button class="addNewPartyButton"> Add New Party </button></a>
                        </p>
                    </div>
                        <h1 class="headingWord"> All Parties </h1>
                    <div class="partyImageWrapper">
                        <div class="partyImageFlex">
                            <img src="./PARTYIMAGE.jpg">
                            <div class="container">
                                <h1 class="headingWord"> <br>APC</br> </h1>
                                <p class="headingWord">"Onenes and Progress"</p>
                                <div class="headingWord">
                                <a href="./edit.html"><button class="edit-deleteButton">EDIT</button></a>
                                <button class="edit-deleteButton">DELETE</button>
                               <a href="./voting.html"> <button class="edit-deleteButton">VIEW</button></a>
                            </div>
                            </div>
                        </div>
                        <div class="partyImageFlex">
                                <img src="./PARTYIMAGE.jpg">
                                <div class="container">
                                    <h1 class="headingWord"> <br>APC</br> </h1>
                                    <p class="headingWord">"Onenes and Progress"</p> 
                                   <div class="headingWord">
                                        <a href="./edit.html"><button class="edit-deleteButton">EDIT</button></a>
                                    <button class="edit-deleteButton">DELETE</button>
                                    <a href="./voting.html"> <button class="edit-deleteButton">VIEW</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="partyImageFlex">
                                    <img src="./PARTYIMAGE.jpg">
                                    <div class="container">
                                        <h1 class="headingWord"> <br>APC</br> </h1>
                                        <p class="headingWord">"Onenes and Progress"</p> 
                                     <div class="headingWord">   
                                            <a href="./edit.html"><button class="edit-deleteButton">EDIT</button></a>
                                        <button class="edit-deleteButton">DELETE</button>
                                        <a href="./voting.html"> <button class="edit-deleteButton">VIEW</button></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="partyImageFlex">
                                        <img src="./PARTYIMAGE.jpg">
                                        <div class="container">
                                            <h1 class="headingWord"> <br>APC</br> </h1>
                                            <p class="headingWord">"Onenes and Progress"</p> 
                                          <div class="headingWord"> 
                                                <a href="./edit.html"><button class="edit-deleteButton">EDIT</button></a>
                                            <button class="edit-deleteButton">DELETE</button>
                                            <a href="./voting.html"> <button class="edit-deleteButton">VIEW</button></a>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="partyImageWrapper">
                                <div class="partyImageFlex">
                                    <img src="./PARTYIMAGE.jpg">
                                    <div class="container">
                                        <h1 class="headingWord"> <br>APC</br> </h1>
                                        <p class="headingWord">"Onenes and Progress"</p> 
                                      <div class="headingWord"> 
                                            <a href="./edit.html"><button class="edit-deleteButton">EDIT</button></a>
                                        <button class="edit-deleteButton">DELETE</button>
                                        <a href="./voting.html"> <button class="edit-deleteButton">VIEW</button></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="partyImageFlex">
                                        <img src="./PARTYIMAGE.jpg">
                                        <div class="container">
                                            <h1 class="headingWord"> <br>APC</br> </h1>
                                            <p class="headingWord">"Onenes and Progress"</p> 
                                         <div class="headingWord">  
                                                <a href="./edit.html"><button class="edit-deleteButton">EDIT</button></a>
                                            <button class="edit-deleteButton">DELETE</button>
                                            <a href="./voting.html"> <button class="edit-deleteButton">VIEW</button></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="partyImageFlex">
                                            <img src="./PARTYIMAGE.jpg">
                                            <div class="container">
                                                <h1 class="headingWord"> <br>APC</br> </h1>
                                                <p class="headingWord">"Onenes and Progress"</p> 
                                             <div class="headingWord">  
                                                    <a href="./edit.html"><button class="edit-deleteButton">EDIT</button></a>
                                                <button class="edit-deleteButton">DELETE</button>
                                                <a href="./voting.html"> <button class="edit-deleteButton">VIEW</button></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="partyImageFlex">
                                                <img src="./PARTYIMAGE.jpg">
                                                <div class="container">
                                                    <h1 class="headingWord"> <br>APC</br> </h1>
                                                    <p class="headingWord">"Onenes and Progress"</p> 
                                                  <div class="headingWord"> 
                                                        <a href="./edit.html"><button class="edit-deleteButton">EDIT</button></a>
                                                    <button class="edit-deleteButton">DELETE</button>
                                                    <a href="./voting.html"> <button class="edit-deleteButton">VIEW</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                                <div class="partyImageWrapper">
                                        <div class="partyImageFlex">
                                            <img src="./PARTYIMAGE.jpg">
                                            <div class="container">
                                                <h1 class="headingWord"> <br>APC</br> </h1>
                                                <p class="headingWord">"Onenes and Progress"</p> 
                                              <div class="headingWord"> 
                                                    <a href="./edit.html"><button class="edit-deleteButton">EDIT</button></a>
                                                <button class="edit-deleteButton">DELETE</button>
                                                <a href="./voting.html"> <button class="edit-deleteButton">VIEW</button></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="partyImageFlex">
                                                <img src="./PARTYIMAGE.jpg">
                                                <div class="container">
                                                    <h1 class="headingWord"> <br>APC</br> </h1>
                                                    <p class="headingWord">"Onenes and Progress"</p> 
                                                  <div class="headingWord"> 
                                                        <a href="./edit.html"><button class="edit-deleteButton">EDIT</button></a>
                                                    <button class="edit-deleteButton">DELETE</button>
                                                    <a href="./voting.html"> <button class="edit-deleteButton">VIEW</button></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="partyImageFlex">
                                                    <img src="./PARTYIMAGE.jpg">
                                                    <div class="container">
                                                        <h1 class="headingWord"> <br>APC</br> </h1>
                                                        <p class="headingWord">"Onenes and Progress"</p> 
                                                     <div class="headingWord">  
                                                            <a href="./edit.html"><button class="edit-deleteButton">EDIT</button></a>
                                                        <button class="edit-deleteButton">DELETE</button>
                                                        <a href="./voting.html"> <button class="edit-deleteButton">VIEW</button></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="partyImageFlex">
                                                        <img src="./PARTYIMAGE.jpg">
                                                        <div class="container">
                                                            <h1 class="headingWord"> <br>APC</br> </h1>
                                                            <p class="headingWord">"Onenes and Progress"</p> 
                                                          <div class="headingWord"> 
                                                                <a href="./edit.html"><button class="edit-deleteButton">EDIT</button></a>
                                                            <button class="edit-deleteButton">DELETE</button>
                                                            <a href="./voting.html"> <button class="edit-deleteButton">VIEW</button></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                        </div>
        </div>
        
                            
        
            </body>
            </html>

           