<!DOCTYPE html>
<html>
    <title>CANDIDATES BIODATA</title>
    <head>
        <link rel="stylesheet" type="text/css" href="./index.css">
    </head>
    <body style="background: url(coooo.jpg) no-repeat center center fixed;background-size: cover;">
        <div class="rapperDiv">
<div>
<p>
<div> <h1> FILL YOUR INFORMATION'S HERE </h1> </div>
</p>
<form>
    <div class="placeholders">
<div>
<input placeholder="Full-Name" />
</div> <br>

<div>
<input placeholder="Address" />
</div> <br>

<div>
<input placeholder="Nationality" />
</div> <br>

<div>
<input placeholder="Date of Birth" />
</div> <br> 

<div>
        <input placeholder="Place of Birth" />
        </div> <br>

<div>
<input placeholder="State of Origin" />
</div> <br>

<div>
<input placeholder=" Contact" />
</div> <br>

<div>
<input placeholder="Educational Level" />
</div> <br>
<div class="chooseFileButton">
<input type="file" name="logo" accept="image/png">

</div>
    </div>

</form>
<p>
<button class="signUpButton"> SUBMIT </button>
</p>

</div>
</div>

</body>

</html>

