<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="./index.css">
</head>

<body style="background: url(coooo.jpg) no-repeat center center fixed;background-size: cover;">
    <div class="placeholders">
        <div class="rapperDiv">
            <div class="headingWord">
                <h1> Already have an account with us: <br> Log in </h1>
            </div>
            <form>
                <div>
                    <input placeholder="Username" />
                </div>
                <div>
                    <input placeholder="Password" />
                </div>
                <a href="./signup.html"> <button class="signUpButton"> <strong> LOG IN </strong> </button> </a>
            </form>
        </div>
    </div>
</body>

</html>