/* sign-up button styling {index.html} */
.aj {
    color: green;
    padding: 1% 25%;
    cursor: pointer;
    border-radius: 30%;
    border-style: dotted;
    border-color: orange; 
}
.aj:hover {
    background-color: green;
    color: lawngreen;
}

.nigeria {
    color: darkorange;
    margin-top: 5%;
}
/* Log-in button styling {index.html} */
.bj {
    color: green;
    padding: 1% 25%;
    cursor: pointer;
    border-radius: 30%;
    border-style: dotted;
    border-color: orange;
}
.bj:hover {
    background-color: green;
    color: lawngreen;
}
body {
    text-align: center;
    margin: 0%;
}

.jump {
    margin-top: 10%; 
}
.beef {
    margin: 2% 8%;
}


/*STYLING FOR SIGN.HTML  */
div.name input {
    padding: 2% 2%;
}
div.name {
    padding: 1.5%
}
div.inner form {
    padding: 3% 20%;
}

.mega {
    border-radius: 20px;
    padding: 1% 5% 10% 5%;
}

.signage {
    color:red;
    padding: 20px;
    border-radius: 3%;
    /* margin: 3%; */
}
form.jay {
    margin-top: -5%;
    padding: -200%;
}
.finish {
    padding: 2%;
    border-radius: 10%;
    margin-bottom: 10px; 
}
.finish:hover {
    cursor: pointer;
    background-color:orange;
    color: white;
    border-radius: 10PX;
    border-style: hidden;
    border-color: 
}
