/* FRONT-PAGE STYLING */
body {
    text-align: center;
    margin: 0%;
}
.startingWord {
    color: darkorange;
    /* margin-top: 5%; */
}

.signUpButton {
    color: green;
    padding: 5% 6%;
    cursor: pointer;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    background-color: lawngreen; 
}

.signUpButton:hover {
    background-color: green;
    color: lawngreen;
}

.RapperDiv {
    width: 300px;
    margin: auto; 
}

div input {
    width: 100%;
    padding: 5% 0% 5% 1%;
    border-radius: 20px;
    margin-bottom: 3%;
}

.signUpButton {
    width: 100%;
    padding: 5% 8%;
    border-radius: 20px;
}

